<ul id="call_escalations_ul"> <% @call_escalations.each do |call_escalation| %>
  <li id="call_escalation_<%= call_escalation.id %>" class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-arrow-4" style="display:inline-block"></span>
    <%= call_escalation.user.username + " | " + call_escalation.user.phone_number  %> | <%= link_to 'Delete', call_escalation, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %></ul>


<%= javascript_tag do %>
$(document).ready(function(){
   $('#call_escalations').sortable({
       axis: 'y',
       dropOnEmpty: false,
       cursor: 'crosshair',
       items: 'li',
       opacity: 0.4,
       scroll: true,
       update: function(){
          $.ajax({
              type: 'post',
              data: $('#call_escalations_ul').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                 $('#call_escalations_ul').effect('highlight');
              },
                 url: '/call_escalations/sort'})
              }
          });
     });
<% end %>
