<div class="clear"></div>
<div class="grid_16">
  <h2 id="page-heading">
    Listing call_escalations
  </h2>
</div>
<div class="clear"></div>

<div class="grid_16">
<div id="call_escalations">
  <%= render :partial => 'call_escalations' %>
</div>
<div id="add_entry" style="display:none">
  <%= render :partial => 'add_entry' %>
</div>
<div id="add_entry_link">
  <%= link_to_function jquery_ui_button_icon("Add Entry", "ui-icon-plusthick", "addentry").html_safe , "$('#add_entry').show(); $('#add_entry_link').hide()" %>
</div>
</div>

<%= javascript_tag do %>
$(document).ready(function(){
   $('#call_escalations').sortable({
       axis: 'y',
       dropOnEmpty: false,
       cursor: 'crosshair',
       items: 'li',
       opacity: 0.4,
       scroll: true,
       update: function(){
          $.ajax({
              type: 'post',
              data: $('#call_escalations').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                 $('#call_escalations').effect('highlight');
              },
                 url: '/call_escalations/sort'})
              }
          });
     });
<% end %>
