<div class="clear"></div>
<div class="grid_16">
  <h2 id="page-heading">Call Lists</h2>
</div>
<div class="clear"></div>
<%= render :partial => 'listing' %>
<%= link_to jquery_ui_button_icon("New Call List", "ui-icon-plusthick", "newcalllist").html_safe, new_call_list_path %>
