<ul id="oncall_assignments_ul" class="no_bullet_list no_indent"> <% @call_list.oncall_assignments.each do |oncall_assignment| %>
  <li id="oncall_assignment_<%= oncall_assignment.id %>" class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-arrow-4" style="display:inline-block"></span>
    <%= oncall_assignment.user.username + " | " + oncall_assignment.user.phone_number  %> | Retry: <%= oncall_assignment.retry %> |
    <%= link_to 'Remove', {:action => 'remove_oncall_assignment', :call_list_id => @call_list.id, :oncall_assignment_id => oncall_assignment.id},
                    :method => 'get', :confirm => "Are you sure?" %>
  </li>
<% end %></ul>
